.whole-page {
  display: flex;
  flex-direction: column;
  gap: 64px; 
}

.header {
  display: flex; 
  flex-direction: column;
  height: auto; 
  width: 100vw;  
  align-items: center;
  background-color: rgb(170, 228, 245);
  padding-bottom: 32px; 
}

.image-grid {
  display: grid; 
  padding: auto; 
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
